@model  IEnumerable<WebVehiculos.Models.Vehiculo>

@{
    ViewBag.Title = "title";
}

<div>
    <input type="text" id="txtBus" 
           placeholder="Experesion de busqueda"/>
    <select id="ddlTipoBusqueda">
        <option value="1" selected="selected">Matricula</option>
        <option value="2">Marca</option>
    </select>
    <button type="button" id="btnBus" class="btn btn-default">
       <i class="glyphicon glyphicon-search"></i> Buscar
    </button>
</div>
<div class="modal fade" id="dlgAlta">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Nuevo vehiculo</h4>
            </div>
            <div class="modal-body">
                <input type="text" id="txtMarca" 
                       placeholder="Marca"/><br/>
                <input type="text" id="txtMatricula" 
                       placeholder="Matricula"/><br/>
                <input type="text" id="txtModelo" 
                       placeholder="Modelo"/><br/>
                <input type="text" id="txtPrecio" 
                       placeholder="Precio"/><br/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="contenido">
    @Html.Partial("_Listado", Model)
</div>
<button id="btnAdd" type="button" class="btn btn-default">
    <i class="glyphicon glyphicon-plus-sign"></i> Nuevo
</button>
@*<input type="hidden" value="@ViewBag.idTipo" id="idTipo"/>*@
@section JS{
    <script>
        var tipo = @ViewBag.idTipo;

        function buscar() {

            var txt = $("#txtBus").val();
            var buscando = $("#ddlTipoBusqueda").val();
            var url = "@Url.Action("Buscar")" + "/" + tipo + 
                "/" + buscando + "/" + txt;
            
            
            // + "?idTipo=" + tipo +"&campo=" + buscando + "&contenido=" + txt;
            $("#contenido").load(encodeURI(url));
        }

        function alta() {
            var obj = {
                marca: $("#txtMarca").val(),
                modelo: $("#txtModelo").val(),
                matricula: $("#txtMatricula").val(),
                precio: $("#txtPrecio").val(),
                idTipo: tipo
            };
            var objTxt = JSON.stringify(obj);
            var url = "@Url.Action("Alta")";
            $.ajax({
                url: url,
                data: objTxt,
                dataType: "json",
                headers: { "Content-Type": "application/json" },
                type: "POST",
                success: function(res) {
                    $("#dlgAlta").modal("hide");
                    if (res.idVehiculo != 0) {
                        $("#txtBus").val("");
                        buscar();
                    } else {
                        alert("Error");
                    }
                }
            });
            
        }
        $("#btnBus").click(buscar);
        $("#btnGuardar").click(alta);
        $("#btnAdd").click(function() {
            $("#dlgAlta").modal("toggle");

        });
    </script>
}